# shadowsocks远程端CentOS Stream 9 systemd服务配置文件
#
# /usr/lib/systemd/system/sss.service
#
# Copyright(C) 2024, Martin Young <martin_young@live.cn>
#------------------------------------------------------------

[Unit]
Description=Shadowsocks Server
Documentation=https://github.com/shadowsocks/shadowsocks-rust
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/ss/ssserver --config /etc/ss/sss.json
Restart=on-failure

# 日志级别：trace=0, debug=1, info=2, warn=3, error=4, off(pseudo level to disable all logging for the target)
Environment="RUST_LOG=info,shadowsocks_rust::service::server=debug"

[Install]
WantedBy=multi-user.target
